/*set variables for DRY code*/
:root {
    --font: monospace;
    --navy: #13293d;
}

*{
    background-color: grey;
    font-family: var(--font);
    color: white;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--navy);
    width: auto;
    padding: 0px;
}

h1 {
    font-size: 300%;
    background-color: var(--navy);
}

h2 {
    margin: 2% 0;
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

nav ul {
    float: right;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
    position: absolute;
    background-color: var(--navy);
}

nav a {
    font-weight: bold;
    text-decoration: none;
    background-color: var(--navy);
}

main {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: var(--navy);
}

footer nav ul {
    display: flex;
    align-items: right;
    float: right;
}

#profile-pic {
    max-width: fit-content;
    border-radius: 50%;
    align-items: center;
}

p {
    display: flex;
}